flows.json
[{"id":"5e810a5.2e91af4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"5e810a5.2e91af4","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"298e863e.125c2a","type":"inject","z":"5e810a5.2e91af4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":240,"wires":[["895fadb8.95b7a"]]},{"id":"895fadb8.95b7a","type":"debug","z":"5e810a5.2e91af4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":260,"wires":[]}]